body {
    display: flex;
    height: 100vh;
}
.left-container {
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    flex: 1;
}
.right-container {
    background-color: blue;
    flex: 1;;
}